body {
    background: linear-gradient($color-darkred 0%, $color-mediumred 14%, $color-lightred 28%, $color-cream 42%, $color-lightgreen 66%, $color-mediumgreen 80%, $color-darkgreen 94%);
    
}
p, a, li{
    font: $body-font; 
}


h1, h2{ 
    text-align:center; 
}

// p{
//     font-family: 'Playfair Display', serif;
//     // make sure ths is working 
// }
.link-github svg{
    width: 100px; 

}
//Skip link styling

.skip-link{
    text-decoration: none;
    color:$color-lightgreen;
    text-align: center;
    position: absolute;
    top:2vw;
    left:47vw;
    font-size: 12px;
    text-transform: lowercase;
    

}

// header styling //
//------------------------------------//
header .container{
    padding-top: 40px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    color: $color-cream;
    h1{
        font-size: 15vw;
        width:5ch;
        margin-left: 20vw;
        margin-top: 7vw;
        line-height: 15vw;
    }
    
    h2{
        grid-column: 1/3;
        font-size: 2.4vw;
    }
    p{
        text-align: center;
        grid-column: 1/3;
        font-size: 1.5vw;
    }
    a{
        grid-row: 1/3;
        grid-column: 2/3;
        text-decoration: none;
        color: $color-lightgreen;
        font-size: 1.5vw;
        width: 100px;
    }
}

// the header github star (christmas tree star)//
//------------------------------------//
header .link-github {
    display: grid;
    grid-template-rows:.5fr 20px 20px;
    margin-left: 1vw;
    margin-top: 2vw;
  

    svg{
        fill:$color-cream;
        width: 7vw; 
        transform: translate(10.5vw, 3vw);

        &:hover{
            animation: christmas 3s infinite;
        }
    }
    span{
        display: inline-grid;
        transform: translate(-10vw);
    }
    
}

@keyframes christmas{
    0%{
        fill: gold;
        fill-opacity: 100%;
    }
    25%{
        fill: cornsilk;
    }
    50%{
        fill: gold;
        fill-opacity: 100%;
    }
}

// christmas tree under github star //
//------------------------------------//
.link-github span::after{
    display: inline-flex;
    content: '';
    grid-row: 2/3;
    background-image: url('/christmas-tree-2.svg');
    background-size: 28vw 28vw;
    height: 28vw;
    width: 28vw;
}

// nav bar//
//------------------------------------// 
nav{
    
    ul{
        border-radius: 10px;
        display: flex;
        margin-left: 5vw;
        margin-bottom: 5vw;
        background-color:$color-darkred;
        justify-content: space-evenly;
        max-width: 90vw;
        box-shadow: 2px 1px 2px rgba(255, 255, 255, 0.5), 
              2px 2px 4px rgba(225, 255, 255, 0.5), 
              2px 4px 8px rgba(237, 255, 255, 0.5), 
              2px 8px 16px rgba(255, 255, 255, 0.5);
    }
    li{
        position: relative;
        list-style: none;
        padding:.5em;
    }
    a{
        text-decoration: none;
        color:$color-cream;

    }

    
    li:hover{
        background-color: $color-cream;
        color: $color-darkred;
        border-radius: 10px;
        a{
            background-color: $color-cream;
            color: $color-darkred;
        }

    }
}



/* Large View */
//------------------------------------//
@media screen and (min-width: 800px ){
    #about{
        display:grid; 
        grid-template-columns: 1fr 1fr;
    }
       
    #about section:nth-child(2){
        grid-column: 2/3; 
    }

    #files{
        display:flex; 
        float:right; 
    }
}
    