.page-footer::before {
    display: block;
    content: '';
    background-image: url('/tree-footer.svg');
    width: 1700px;
    height: 150px;

}

.page-footer {
    color: $color-darkgreen;
    text-align: center;
    font-family: 'Playfair Display', serif;
    ul li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $color-lightred;
    }
    a:hover {
        color: $color-darkred;
    }
}

.link-twittercontact, footer .link-github, .link-rss, .link-support {
    background-color: $color-mediumred;
    padding: 1.2em;
    text-decoration: none;
    color: $color-darkgreen;
    box-shadow: 5px 5px 0px $color-cream;
    &:hover {
        color: $color-lightred;
        background-color: $color-darkred;
    }
}

.page-footer ul{
    display: block;
}

.page-footer ul li{
    margin-top: 3em;
    margin-bottom: 2em;
}

.page-footer .link-github svg {
    width: 1.5em;
    padding-right: .5em;
    fill: $color-lightgreen;
}

.page-footer .container{
    background-color: $color-cream;
    padding: 1.5em;
}

@media screen and (min-width: 920px ){
    .page-footer ul{
        display: flex;
        justify-content: space-around;
        margin-top: 3em;
        margin-bottom: 3em;
    }
 }