$color-darkgreen: #386641 !default;
$color-mediumgreen: #6A994E !default;
$color-lightgreen: #A7C957 !default;
$color-cream: #F2E8CF !default;
$color-lightred: #D7988C !default;
$color-mediumred: #CA706B !default;
$color-darkred: #BC4749 !default;
