#contribute {
  box-shadow: inset 0 0 0 0 #386641;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#contribute a {
  color: #BC4749;
}
#contribute a:hover {
  color: #A7C957;
  text-shadow: 2px 2px 8px #386641;
}
#contribute:hover {
  color: #F2E8CF;
  box-shadow: inset 800px 0 0 0 #386641;
}
#contribute ol {
  padding-bottom: 8rem;
}
#contribute ol li {
  margin: 0;
  padding: 16px 0 0px 54px;
  list-style: none;
  background-image: url("/ornament.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
}

.link-guidelines {
  box-shadow: 0.18em 0.18em #F2E8CF;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  width: 15rem;
  height: 5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.link-guidelines::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #BC4749;
  left: 0;
  top: 0;
}
.link-guidelines:before {
  content: "";
  background: linear-gradient(45deg, #386641, #6A994E, #A7C957, #F2E8CF, #386641, #6A994E, #A7C957, #F2E8CF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.link-guidelines:active {
  color: #bda5a5;
}
.link-guidelines:active::after {
  background: transparent;
}
.link-guidelines:hover:before {
  opacity: 1;
}

#guidelines h2, #contribute h2 {
  font-family: "Great Vibes", cursive;
  font-size: 4.2rem;
}

#guidelines {
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  background: linear-gradient(#BC4749 0 0) var(--p, 0)/var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}
#guidelines a {
  color: #386641;
}
#guidelines h3 {
  transform: translatey(-2vw) rotate(-10deg);
  background: -webkit-linear-gradient(#A7C957, #6A994E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#guidelines h3::after {
  content: " woah, text gradients!!!";
  font-size: 0.9em;
  transform: translate(5em, 2em) rotate(10deg);
}

#guidelines:hover {
  --p: 100%;
  color: #F2E8CF;
}

#files {
  text-align: center;
}
#files h3 {
  color: #F2E8CF;
}

#files .container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 500px;
  height: 200px;
  box-shadow: 5px 10px 20px black;
  background-image: url("/present2.png");
}
#files .container a {
  text-decoration: none;
  color: #BC4749;
  transform: rotate(15deg);
  margin-left: 10rem;
}
#files .container a:nth-child(2) {
  padding-top: 60px;
}

#profile-title {
  font-family: "Great Vibes", cursive;
  font-size: 4.2rem;
  color: #F2E8CF;
}

.profile .container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #F2E8CF;
  font-size: 1.3rem;
  font-weight: bold;
  flex-wrap: wrap;
}
.profile .container ul li {
  margin-right: 20px;
}
.profile .container ul a {
  text-decoration: none;
  color: #BC4749;
}
.profile .container ul a:hover {
  color: #A7C957;
  text-shadow: 2px 2px 8px #386641;
}

.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.profile a:nth-child(3) {
  box-shadow: 0.18em 0.18em #F2E8CF;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  width: 15rem;
  height: 5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.profile a:nth-child(3)::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #BC4749;
  left: 0;
  top: 0;
}
.profile a:nth-child(3):before {
  content: "";
  background: linear-gradient(45deg, #386641, #6A994E, #A7C957, #F2E8CF, #386641, #6A994E, #A7C957, #F2E8CF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.profile a:nth-child(3):active {
  color: #bda5a5;
}

.profile a:nth-child(3):active:after {
  background: transparent;
}

.profile a:nth-child(3):hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (min-width: 800px) {
  #contribute:hover {
    box-shadow: inset 200rem 0 0 0 #386641;
  }

  #files {
    padding-top: 200px;
    width: 30rem;
  }
  #files h3 {
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
  }

  .profile .container {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='34' height='34' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(56, 102, 65,1)'/%3E%3Cpath d='M-10 30h60v6h-60zM-10-10h60v6h-60' fill='rgba(188, 71, 73,1)'/%3E%3Cpath d='M-10 24h60v3h-60zM-10-16h60v3h-60z' fill='rgba(106, 153, 78,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    box-shadow: 5px 10px 20px black;
    width: 50rem;
    margin-left: 100px;
  }

  #files {
    background: url("/present4.png ");
    box-shadow: 5px 10px 20px black;
    width: 800px;
    height: 464px;
    margin-right: 100px;
  }
  #files a {
    color: #F2E8CF;
  }

  #files .container {
    width: 500px;
    height: 200px;
    background-image: url("/present3.png");
  }
  #files .container a {
    color: #BC4749;
    transform: rotate(15deg);
    margin-left: 10rem;
  }
  #files .container a:nth-child(2) {
    padding-top: 40px;
  }
}
@media screen and (min-width: 800px) and (max-width: 380px) {
  #guidelines .container {
    background-color: #BC4749;
  }

  #contribute .container {
    background-color: #386641;
  }

  #guidlines, #contribute p {
    margin: 10px;
    font-size: 0.9rem;
  }
}
