@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&display=swap");
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background: linear-gradient(#386641 0%, #6A994E 14%, #A7C957 28%, #F2E8CF 42%, #D7988C 66%, #CA706B 80%, #BC4749 94%);
}

h1, h2 {
  text-align: center;
}

.link-github svg {
  width: 100px;
}

/* Large View */
@media screen and (min-width: 800px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #about section:nth-child(2) {
    grid-column: 2/3;
  }

  #files {
    display: flex;
    float: right;
    background-color: green;
  }

  .profile .container {
    background-color: blue;
  }
}
