@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&display=swap");
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background: linear-gradient(#BC4749 0%, #CA706B 14%, #D7988C 28%, #F2E8CF 42%, #A7C957 66%, #6A994E 80%, #386641 94%);
}

h1, h2 {
  text-align: center;
}

.link-github svg {
  width: 100px;
}

/* Large View */
@media screen and (min-width: 800px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #about section:nth-child(2) {
    grid-column: 2/3;
  }

  #files {
    display: flex;
    float: right;
    background-color: green;
  }

  .profile .container {
    background-color: blue;
  }
}
.page-footer:before {
  background-image: url("stylestage-wdd331/tree.svg");
}

.page-footer {
  border: 3px solid black;
  color: #F2E8CF;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.page-footer ul li {
  list-style-type: none;
}
.page-footer a {
  text-decoration: none;
  color: #F2E8CF;
}
.page-footer a:hover {
  color: #D7988C;
}

.link-twittercontact, .link-github, .link-rss, .link-support {
  background-color: #CA706B;
  padding: 1.2em;
  text-decoration: none;
  color: #386641;
  box-shadow: 5px 5px 0px #F2E8CF;
}
.link-twittercontact:hover, .link-github:hover, .link-rss:hover, .link-support:hover {
  color: #D7988C;
  background-color: #BC4749;
}

.page-footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 3em;
}

.page-footer svg {
  width: 1.5em;
  padding-right: 0.5em;
  color: #386641;
}
